{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">アカウント情報の更新/削除</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% set category, message = messages[messages|length-1] %}
        <div class="notification is-{{ category }}">
            {{ message }}
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" class="box">
            <div class="field">
                <label class="label" for="username">Username</label>
                <div class="control">
                    <input class="input" type="text" id="username" name="username" value="{{ user.username }}" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="email">Email</label>
                <div class="control">
                    <input class="input" type="email" id="email" name="email" value="{{ user.email }}" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control">
                    <input class="input" type="password" id="password" name="password" placeholder="変更がない場合は未入力のまま更新">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">更新</button>
                </div>
            </div>
        </form>

        <form method="POST" action="{{ url_for('delete_user') }}" class="box">
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link" onclick="return confirm('本当にアカウントを削除しますか？');">削除</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
