{% extends "base.html" %}

{% block content %}
<h1>プロジェクト詳細</h1>
<a href="{{ url_for('admin_login') }}">ログイン画面に戻る</a>
<a href="{{ url_for('admin_dashboard') }}">ダッシュボードに戻る</a>
<a href="{{ url_for('admin_projects') }}">プロジェクト一覧に戻る</a>
<p>ID: {{ project.id }}</p>
<p>プロジェクト名: {{ project.project_name }}</p>
<p>業界: {{ project.industry }}</p>
<p>開始月: {{ project.start_month }}</p>
<p>終了月: {{ project.end_month }}</p>
<p>プロジェクト概要: {{ project.project_summary }}</p>
<p>責任範囲: {{ project.responsibilities }}</p>
<a href="{{ url_for('admin_projects') }}">戻る</a>
{% endblock %}
