{% extends "base.html" %}

{% block content %}
<main class="section">
    <div class="container">
        <h1 class="title has-text-centered">管理者ダッシュボード</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% set category, message = messages[messages|length-1] %}
        <div class="notification is-{{ category }}">
            {{ message }}
        </div>
        {% endif %}
        {% endwith %}

        <div class="columns is-multiline">
            <div class="column is-12-mobile is-6-tablet is-6-desktop">
                <a href="{{ url_for('admin_users') }}">
                    <div class="box has-background-light">
                        <h2 class="title is-4">ユーザーリスト</h2>
                        <p>ユーザーの一覧を表示し、管理することができます。</p>
                    </div>
                </a>
            </div>
            <div class="column is-12-mobile is-6-tablet is-6-desktop">
                <a href="{{ url_for('admin_projects') }}">
                    <div class="box has-background-light">
                        <h2 class="title is-4">プロジェクトリスト</h2>
                        <p>プロジェクトの一覧を表示し、管理することができます。</p>
                    </div>
                </a>
            </div>
            <div class="column is-12-mobile is-6-tablet is-6-desktop">
                <a href="{{ url_for('admin_logs') }}">
                    <div class="box has-background-light">
                        <h2 class="title is-4">ログ確認</h2>
                        <p>システムのログを確認し、問題をトラブルシュートすることができます。</p>
                    </div>
                </a>
            </div>
            <div class="column is-12-mobile is-6-tablet is-6-desktop">
                <a href="{{ url_for('admin_contacts') }}">
                    <div class="box has-background-light">
                        <h2 class="title is-4">お問い合わせ一覧</h2>
                        <p>ユーザーからのお問い合わせを一覧で確認できます。</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
