{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>管理者ダッシュボード</h1>
    <div class="list-group">
        <a href="{{ url_for('admin_users') }}" class="list-group-item list-group-item-action">ユーザー一覧</a>
        <a href="{{ url_for('admin_projects') }}" class="list-group-item list-group-item-action">プロジェクト一覧</a>
        <a href="{{ url_for('admin_logs') }}" class="list-group-item list-group-item-action">ログの確認</a>
        <a href="{{ url_for('admin_contacts') }}" class="list-group-item list-group-item-action">お問い合わせ一覧</a>
    </div>
</div>
{% endblock %}
