{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="buttons mb-4">
        <a class="button is-link" href="{{ url_for('admin_dashboard') }}">ダッシュボードに戻る</a>
        <a class="button is-link" href="{{ url_for('admin_login') }}">管理者ログイン画面に戻る</a>
    </div>
    <h1 class="title has-text-centered">ログの確認</h1>
    <div class="box log-container">
        {% if logs %}
            <ul class="log-list">
                {% for log in logs %}
                    <li class="log-item">{{ log }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="has-text-centered">表示するログがありません。</p>
        {% endif %}
    </div>
</div>
{% endblock %}
