<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <nav id="navbar" class="navbar is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ url_for('index') }}" tabindex="-1">
                        <h1 class="title has-text-light">SkillCanvas</h1>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item has-text-light" href="{{ url_for('index') }}" tabindex="-1">Home</a>
                        <a class="navbar-item has-text-light" href="{{ url_for('features') }}"
                            tabindex="-1">Features</a>
                        <a class="navbar-item has-text-light" href="{{ url_for('contact') }}" tabindex="-1">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var navbar = document.getElementById('navbar');
            var burger = document.querySelector('.navbar-burger');
            var menu = document.getElementById(burger.dataset.target);

            burger.addEventListener('click', function () {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });

            window.addEventListener('scroll', function () {
                if (window.scrollY > 50) {
                    navbar.classList.add('scrolled');
                } else {
                    navbar.classList.remove('scrolled');
                }
            });
        });
    </script>
</body>

</html>