<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Flask App</title>
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Flask App</a></h1>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>

<script>
function addField(field) {
    var fieldsContainer = document.getElementById(field + '-fields');
    var newFieldCount = fieldsContainer.children.length + 1; // Number to ensure unique ID
    
    var newField = document.createElement('div');
    newField.innerHTML = `
        <label for="${field}_${newFieldCount}">${field.replace('_', ' ')} ${newFieldCount}</label>
        <input type="text" id="${field}_${newFieldCount}" name="${field}_${newFieldCount}">
        <input type="number" id="${field}_${newFieldCount}_num" name="${field}_${newFieldCount}_num"><span>ヶ月</span>
        <br>
    `;
    
    fieldsContainer.appendChild(newField);
}
    </script>