{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">プロジェクトを編集</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% set category, message = messages[messages|length-1] %}
        <div class="notification is-{{ category }}">
            {{ message }}
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" class="box">
            <div class="field">
                <label class="label" for="start_month">プロジェクトに参加した月</label>
                <div class="control">
                    <input class="input" type="month" id="start_month" name="start_month" value="{{ project.start_month }}" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="end_month">プロジェクトを退場した月</label>
                <div class="control">
                    <input class="input" type="month" id="end_month" name="end_month" value="{{ project.end_month }}" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="industry">クライアントの業種</label>
                <div class="control">
                    <input class="input" type="text" id="industry" name="industry" value="{{ project.industry }}" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="project_name">プロジェクト名</label>
                <div class="control">
                    <input class="input" type="text" id="project_name" name="project_name" value="{{ project.project_name }}" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="project_summary">プロジェクト概要</label>
                <div class="control">
                    <textarea class="textarea" id="project_summary" name="project_summary" required>{{ project.project_summary }}</textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">担当した工程</label>
                <div class="control">
                    {% for process in ['要件定義', '基本設計', '詳細設計', '実装', '単体テスト', '結合テスト', '受入テスト', '運用・保守'] %}
                    <label class="checkbox">
                        <input type="checkbox" id="{{ process }}" name="process" value="{{ process }}"
                        {% if process in processes %} checked {% endif %}>
                        {{ process }}
                    </label>
                    {% endfor %}
                </div>
            </div>

            <div class="field">
                <label class="label" for="responsibilities">担当業務</label>
                <div class="control">
                    <textarea class="textarea" id="responsibilities" name="responsibilities" required>{{ project.responsibilities }}</textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">使用技術</label>
                {% for tech_type, tech_label in {'os': 'OS', 'language': '言語', 'framework': 'フレームワーク', 'database': 'データベース', 'containertech': 'コンテナ技術', 'cicd': 'CI/CD', 'logging': 'ログ管理', 'tools': 'ツール'}.items() %}
                <div class="field">
                    <label class="label" for="{{ tech_type }}">{{ tech_label }}</label>
                    <div class="control">
                        <div id="{{ tech_type }}-fields">
                            {% for tech in technologies[tech_type] %}
                            <div class="input-group">
                                <input class="input input-name" type="text" name="{{ tech_type }}_{{ loop.index0 }}" value="{{ tech.name }}" placeholder="技術名">
                                <input class="input input-duration" type="number" name="{{ tech_type }}_{{ loop.index0 }}_num" value="{{ tech.duration_months }}" placeholder="期間"  min="0">
                                <span>ヶ月</span>
                            </div>
                            {% endfor %}
                        </div>
                        <button type="button" id="add-{{ tech_type }}" class="button is-primary has-text-light">＋</button>
                        <button type="button" id="remove-{{ tech_type }}" class="button is-danger has-text-light">ー</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            

            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link is-fullwidth">プロジェクト更新</button>
                </div>
            </div>
        </form>
        <a href="{{ url_for('sheet') }}" class="button is-link is-fullwidth">スキルシート</a>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        function addField(buttonId, containerId, namePrefix) {
            const button = document.getElementById(buttonId);
            button.addEventListener('click', () => {
                const container = document.getElementById(containerId);
                const count = container.querySelectorAll('.input-group').length;
                const inputGroup = document.createElement('div');
                inputGroup.classList.add('input-group');
                inputGroup.innerHTML = `
                    <input class="input input-name" type="text" name="${namePrefix}_${count}" placeholder="技術名">
                    <input class="input input-duration" type="number" name="${namePrefix}_${count}_num" placeholder="期間" value="0" min="0">
                    <span>ヶ月</span>
                `;
                container.appendChild(inputGroup);
            });
        }

        function removeField(buttonId, containerId) {
            const button = document.getElementById(buttonId);
            button.addEventListener('click', () => {
                const container = document.getElementById(containerId);
                const inputGroups = container.querySelectorAll('.input-group');
                if (inputGroups.length > 1) { // 最初の入力フィールドは削除しない
                    container.removeChild(inputGroups[inputGroups.length - 1]);
                }
            });
        }

        ['os', 'language', 'framework', 'database', 'containertech', 'cicd', 'logging', 'tools'].forEach(techType => {
            addField(`add-${techType}`, `${techType}-fields`, techType);
            removeField(`remove-${techType}`, `${techType}-fields`);
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        function validateTechFields(techType) {
            const container = document.getElementById(`${techType}-fields`);
            const inputs = container.querySelectorAll('.input-name');
            const techNames = [];
            let hasDuplicate = false;

            inputs.forEach(input => {
                const name = input.value.trim();
                if (name && techNames.includes(name)) {
                    hasDuplicate = true;
                } else if (name) {
                    techNames.push(name);
                }
            });

            if (hasDuplicate) {
                alert(`同じプロジェクト内で「${techType}」カテゴリーの技術名が重複しています。`);
                return false;
            }
            return true;
        }

        document.querySelector('form').addEventListener('submit', (event) => {
            const techTypes = ['os', 'language', 'framework', 'database', 'containertech', 'cicd', 'logging', 'tools'];
            for (const techType of techTypes) {
                if (!validateTechFields(techType)) {
                    event.preventDefault(); // フォームの送信をキャンセル
                    break;
                }
            }
        });
    });
</script>

{% endblock %}
