{% extends "base.html" %}

{% block content %}

<main class="section">
    <div class="container">
        <h1 class="title has-text-centered">SkillCanvasの機能</h1>
        <p class="subtitle has-text-centered">SkillCanvasが提供する特徴と利便性をご紹介します。</p>

        <!-- Features Section -->
        <div class="features">
            <div class="columns is-multiline">
                <div class="column is-12-mobile is-6-tablet is-4-desktop">
                    <div class="box">
                        <h2 class="subtitle">プロジェクト入力でスキルシート作成</h2>
                        <p>プロジェクトを入力するだけで、使用技術やその詳細を自動で集計し、わかりやすくスキルシートとして表示します。</p>
                    </div>
                </div>
                <div class="column is-12-mobile is-6-tablet is-4-desktop">
                    <div class="box">
                        <h2 class="subtitle">自動計算機能</h2>
                        <p>プロジェクトに登録した技術の使用歴を自動で計算し、スキルシートに反映します。手動での計算は不要です。</p>
                    </div>
                </div>

                <div class="column is-12-mobile is-6-tablet is-4-desktop">
                    <div class="box">
                        <h2 class="subtitle">見やすいデザイン</h2>
                        <p>画面共有時も見やすいデザインを採用しており、エクセルやスプレッドシートよりも優れた視認性を提供します。</p>
                    </div>
                </div>
                <div class="column is-12-mobile is-6-tablet is-4-desktop">
                    <div class="box">
                        <h2 class="subtitle">リンクでの共有</h2>
                        <p>リンクを知っている人のみがアクセスできる形式で、閲覧専用での共有が可能です。SESの営業さんや面談担当者にも見やすい設計です。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
