{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul class="flashes">
        {% set category, message = messages[messages|length-1] %}
        <li class="{{ category }}">{{ message }}</li>
    </ul>
{% endif %}
{% endwith %}

    {% if user.is_authenticated %}
        <p>Logged in as {{ user.username }}</p>
        <div><a href="{{ url_for('userinfo') }}">ユーザー情報の更新</a></div>
        <div><a href="{{ url_for('input') }}">プロジェクト入力</a></div>
        <div><a href="{{ url_for('sheet') }}">スキルシート</a></div>
        <div><a href="{{ url_for('logout') }}">ログアウト</a></div>
    {% else %}
        <p>You are not logged in.</p>
        <div><a href="{{ url_for('login') }}">ログイン</a></div> 
        <div><a href="{{ url_for('register') }}">新規登録</a></div>
        
    {% endif %}
{% endblock %}

</html>
