{% extends "base.html" %}

{% block content %}
    <h1>Profile</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul class="flashes">
        {% set category, message = messages[messages|length-1] %}
        <li class="{{ category }}">{{ message }}</li>
    </ul>
{% endif %}
{% endwith %}

    <form method="POST">
        <label for="display_name">Display Name:</label>
        <input type="text" id="display_name" name="display_name" value="{{ user.display_name }}">
        <br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="{{ user.age }}">
        <br>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="{{ user.gender }}">
        <br>
        <label for="nearest_station">Nearest Station:</label>
        <input type="text" id="nearest_station" name="nearest_station" value="{{ user.nearest_station }}">
        <br>
        <label for="experience_years">Experience Years:</label>
        <input type="number" id="experience_years" name="experience_years" value="{{ user.experience_years }}">
        <br>
        <label for="education">Education:</label>
        <input type="text" id="education" name="education" value="{{ user.education }}">
        <br>
        <button type="submit">Update Profile</button>
    </form>

    {% endblock %}
