{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    {% for item in projects %}
    <div class="project">
        <h2>{{ item.project.project_name }}</h2>
        <p>業界: {{ item.project.industry }}</p>
        <p>プロジェクト期間: {{ item.project.start_month }} から {{ item.project.end_month }}</p>
        <p>プロジェクト概要: {{ item.project.project_summary }}</p>
        <p>担当業務: {{ item.project.responsibilities }}</p>

        <h3>使用技術</h3>
        <ul>
            {% for tech in item.technologies %}
                <li>{{ tech.type }}: {{ tech.name }} ({{ tech.duration_months }} ヶ月)</li>
            {% endfor %}
        </ul>

        <h3>担当工程</h3>
        <ul>
            {% for process in item.processes %}
                <li>{{ process.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <hr>

{% endfor %}

    {% endblock %}
