{% extends "base.html" %}

{% block content %}

<div class="spacer"></div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="flashes">
    {% set category, message = messages[messages|length-1] %}
    <li class="{{ category }}">{{ message }}</li>
</ul>
{% endif %}
{% endwith %}

<div class="container is-fluid">
    <div class="columns is-multiline is-centered" style="min-height: 80vh; justify-content: center; align-items: center;">
        <div class="column is-half">
            <a href="{{ url_for('account') }}" class="button is-fullwidth hero-button">ユーザーID・パスワードの更新/削除</a>
        </div>
        <div class="column is-half">
            <a href="{{ url_for('profile') }}" class="button is-fullwidth hero-button">スキルシート上のプロフィールの更新</a>
        </div>
    </div>
</div>
{% endblock %}
