{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">スキルシート</h1>

        <div class="box">
            <h1 class="title is-4">プロフィール</h1>
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <p class="profile-item"><strong>名前:</strong> {{ user.display_name or "記載なし" }}</p>
                </div>
                <div class="column is-one-third">
                    <p class="profile-item"><strong>年齢:</strong> {{ user.age or "記載なし" }}</p>
                </div>
                <div class="column is-one-third">
                    <p class="profile-item"><strong>性別:</strong> {{ user.gender or "記載なし" }}</p>
                </div>
                <div class="column is-one-third">
                    <p class="profile-item"><strong>最寄駅:</strong> {{ user.nearest_station or "記載なし" }}</p>
                </div>
                <div class="column is-one-third">
                    <p class="profile-item"><strong>経験年数:</strong>
                    {% if user.experience_years %}
                        {{ user.experience_years // 12 }} 年 {{ user.experience_years % 12 }} ヶ月
                    {% else %}
                        記載なし
                    {% endif %}</p>
                </div>
                <div class="column is-one-third">
                    <p class="profile-item"><strong>学歴:</strong> {{ user.education or "記載なし" }}</p>
                </div>
            </div>
        </div>

        <hr>

        {% if skills_by_category|length > 0 %}
        <div class="box">
            <h1 class="title is-4">スキル歴</h1>
            <div class="columns is-multiline">
                {% for category, skills in skills_by_category.items() %}
                <div class="column is-one-third">
                    <div class="table-container">
                        <table class="table is-bordered is-fullwidth skill-table">
                            <thead>
                                <tr>
                                    <th>{{ category }}</th>
                                    <th>期間</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for skill in skills %}
                                <tr>
                                    <td class="tech-name" data-tech-name="{{ skill.name }}">{{ skill.name }}</td>
                                    <td>
                                        {% if skill.duration_months >= 12 %}
                                        {{ skill.duration_months // 12 }} 年 {{ skill.duration_months % 12 }} ヶ月
                                        {% else %}
                                        {{ skill.duration_months }} ヶ月
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <hr>

        {% if projects|length > 0 %}
        <div id="projects-container">
            {% for item in projects %}
            <div class="card project-card">
                <div class="card-content">
                    <h2 class="subtitle project-title" data-index="{{ loop.index }}" style="font-size: 1.5rem;">
                        {{ loop.index }}. {{ item.project.project_name }}
                    </h2>
                    <div class="project-details" style="display: none;">
                        <p><strong>業界</strong><span class="industry-item"> {{ item.project.industry }}</span></p>
                        <p><strong>期間</strong><span class="industry-item"> {{ item.project.start_month }}〜{{ item.project.end_month }}</span></p>
                        <div class="spacer"></div>
                        <!-- プロジェクト概要をボックスで囲む -->
                        <div class="box is-light">
                            <p><strong>プロジェクト概要</strong><br><span class="preformatted">{{ item.project.project_summary }}</span></p>
                        </div>
                        <!-- 担当工程の視覚化 -->
                        <div class="process-section">
                            <strong class="process-title">担当工程</strong>
                            <div class="process-container">
                                {% for process in item.processes %}
                                <span class="tag">{{ process.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <!-- 担当業務をボックスで囲む -->
                        <div class="box is-light">
                            <p><strong>担当業務</strong><br><span class="preformatted">{{ item.project.responsibilities }}</span></p>
                        </div>
                        <div class="content mb-3">
                            <h3 class="title is-5">使用技術</h3>
                            <table class="table is-striped is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>技術タイプ</th>
                                        <th>技術名</th>
                                        <th>使用期間</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tech in item.technologies %}
                                    <tr>
                                        <td>
                                            {% if tech.type == 'os' %}
                                                OS
                                            {% elif tech.type == 'language' %}
                                                言語
                                            {% elif tech.type == 'framework' %}
                                                フレームワーク
                                            {% elif tech.type == 'database' %}
                                                データベース
                                            {% elif tech.type == 'containertech' %}
                                                コンテナ技術
                                            {% elif tech.type == 'cicd' %}
                                                CI/CD
                                            {% elif tech.type == 'logging' %}
                                                ログ
                                            {% elif tech.type == 'tools' %}
                                                その他ツール
                                            {% else %}
                                                未知のタイプ
                                            {% endif %}
                                        </td>
                                        <td>{{ tech.name }}</td>
                                        <td>
                                            {% if tech.duration_months >= 12 %}
                                            {{ tech.duration_months // 12 }} 年 {{ tech.duration_months % 12 }} ヶ月
                                            {% else %}
                                            {{ tech.duration_months }} ヶ月
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="hero-button-container">
            <a href="{{ url_for('download_pdf', link_code=link_code) }}" class="button is-primary" style="margin-top: 2rem;">PDFダウンロード</a>
        </div>
    </div>
</section>

<script>
    document.querySelectorAll('.project-title').forEach(title => {
        title.addEventListener('click', function () {
            const index = this.getAttribute('data-index');
            const details = document.querySelector(`.project-card:nth-of-type(${index}) .project-details`);

            // Toggle visibility
            if (details.style.display === 'none') {
                details.style.display = 'block';
            } else {
                details.style.display = 'none';
            }
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        const techElements = document.querySelectorAll('.tech-name');

        techElements.forEach(el => {
            el.addEventListener('click', function (event) {
                // 既存のポップアップを削除
                const existingTooltip = document.querySelector('.tooltip');
                if (existingTooltip) {
                    existingTooltip.remove();
                }

                const techName = this.getAttribute('data-tech-name');
                const tooltip = document.createElement('div');
                tooltip.className = 'tooltip';
                tooltip.textContent = '読み込み中...';  // 最初は「読み込み中...」と表示

                document.body.appendChild(tooltip);

                // ポップアップの位置を設定
                const rect = this.getBoundingClientRect();
                tooltip.style.left = `${rect.left + window.scrollX}px`;
                tooltip.style.top = `${rect.bottom + window.scrollY}px`;
                tooltip.classList.add('show');

                // ポップアップの非表示処理
                function hideTooltip(e) {
                    if (!tooltip.contains(e.target) && !e.target.classList.contains('tech-name')) {
                        tooltip.classList.remove('show');
                        setTimeout(() => tooltip.remove(), 300);
                        document.removeEventListener('click', hideTooltip);
                    }
                }

                document.addEventListener('click', hideTooltip);

                // 技術名に関連するプロジェクト情報を取得
                fetch(`/api/tech_projects/${techName}`)
                    .then(response => response.json())
                    .then(data => {
                        const content = getTooltipContent(data.projects);
                        tooltip.innerHTML = content;
                    })
                    .catch(error => {
                        console.error('Error fetching project data:', error);
                        tooltip.textContent = 'データの取得に失敗しました';
                    });

                // クリックイベントのバブルを防止
                event.stopPropagation();
            });
        });

        function getTooltipContent(projects) {
            if (!projects || projects.length === 0) {
                return 'この技術は使用されていません。';
            }
            let content = '<strong style="color: #fff" >利用されているプロジェクト</strong><ul>';
            projects.forEach(project => {
                content += `<li>${project.number}.  ${project.name}</li>`;
            });
            content += '</ul>';
            return content;
        }
    });

</script>

<style>
    .tooltip {
        position: absolute;
        background: #333;
        color: #fff;
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        z-index: 1000;
        max-width: 600px;
        /* 最大幅を広げて内容に合わせる */
        font-size: 0.875rem;
        /* フォントサイズを調整 */
        line-height: 1.5;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    .tooltip.show {
        opacity: 1;
        visibility: visible;
    }

    .tooltip::after {
        content: '';
        /* 矢印を表示しないように設定 */
        position: absolute;
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent transparent transparent;
        /* 矢印の色を透明に設定 */
        top: -12px;
        left: 15px;
    }
</style>

{% endblock %}
